.jodit-wysiwyg {
    list-style-type: disc; /* Ensure default disc for unordered lists */
    padding-left: 1.5em; /* Provide some padding to the left */
}

.jodit-wysiwyg ol {
    list-style-type: decimal; /* Ensure default decimal for ordered lists */
}

.jodit-wysiwyg ul {
    list-style-type: disc; /* Ensure default disc for unordered lists */
}

.jodit-wysiwyg ul li {
    list-style-position: inside; /* Ensure bullet points are inside the list item */
}

.jodit-wysiwyg ol li {
    list-style-position: inside; /* Ensure numbers are inside the list item */
}
.custom-content ul {
    list-style-type: disc;
    padding-left: 1.5em;
  }
  
  .custom-content ol {
    list-style-type: decimal;
    padding-left: 1.5em;
  }
  
  .custom-content .jodit-wysiwyg ul {
    list-style-type: disc;
  }
  
  .custom-content ul li, 
  .custom-content .ul li, 
  .custom-content ol li, 
  .custom-content .ol li {
    list-style-position: inside;
  }